<div class="container">
  <h1>Index Clothes</h1>
  <% @clothes.each do |c| %>
    <li class = card><%= c.title %></li>
    <p>
      <%= link_to "Show this clothe", clothe_path(c.id), class: "btn btn-primary" %>
    </p>
  <% end %>
</div>
