<h1><b>All my clothes</b></h1>
<div class="container">
  <h1><%= @clothe.title %></h1>
  <h3><%=@clothe.category %></h3>
  <h3><%=@clothe.description %></h3>
  <h3><%=@clothe.price%></h3>
</div>
</div>
