<div class="banner">
  <div class="left-column">
    <h1>RENT<span>ED</span></h1>
    <h3><strong>Rent to Look Good,<span> Lend to Earn Good!</span></strong></h3>
    <p>Sign up today to rent or lend your clothing, and you'll be on your way<br>to looking your best!</p>
    <div class="sign-in-btn">
      <%= link_to "Sign in", new_user_session_path %>
    </div>
  </div>
  <div class="right-column">
  <%= image_tag("girl_clothe.png") %>
  </div>
</div>
